
  
 <div class="row ">
    
        <div class="col d-flex justify-content-evenly  ">
         {{#each newbook }}   
              <div class="card ">
                      <img class="card-img-top mb-0" src="./images/main-image.png" alt="Card image cap">
                      <div class="card-body justify-content-center ">
                        <h5 class="card-title ">{{book_title}}</h5>
                        <h5 class="card-title author ">{{book_author}}</h5>
                        <p class="card-price">70</p>
                        <a href="#" class="btn btn-primary mt-2">Go somewhere</a>
                      </div>
                </div>
           
           {{/each}}
              
        </div>
    </div>




     
