<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">


        </head>
</head>
<body>

  
</div>
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
<script type="text/javascript" src="//cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.min.js"></script>
<script>
  $(document).ready(()=>{
    $('.slideshow,  .slick').slick({

            autoplay:true,
            autoplaySpeed: 2000,
            dots:true
           

        })
    })
  
</script>
<script>
    $(document).ready(()=>{
        $('.testimonial,  .multiple-items').slick({
            dots:true,
            autoplay:true,
            autoplaySpeed: 4000,
            slidesToShow: 5,
            slidesToScroll: 3

        })
    })
</script>
<script>
    $(document).ready(()=>{
        $('.features,  .feature-item').slick({
            dots:true,
            autoplay:true,
            autoplaySpeed: 4000,
            slidesToShow: 6,
            slidesToScroll: 3

        })
    })
</script>
{{!-- <script>
    $(document).ready(()=>{
        $('.feature-item').slick({
               autoplay:false,
              slidesToShow: 2,
  

        })
    })
</script> --}}



<div class="container-fluid outsideborder"> {{{body}}} </div>
 


</body>
</html>